.course {
    color: black;
    border-radius: 15px;
    border-style: ridge;
    padding: 16px;
    height: 230px;
    width: 200px;
    margin: 20px;
    background-color: beige;
}

.top {
    height: 120px;
}

.top p {
    font-size: 17px;
}